.component-check-marked {
  width: 6em;
  height: 6em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .label__check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 5px solid $rgba-dark-1;
    background: $white;
    vertical-align: middle;
    margin-right: 20px;
    width: 5em;
    height: 5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 300ms ease;

    i.icon {
      opacity: 0.2;
      font-size: 3em;
      color: transparent;
      transition: opacity 300ms 100ms ease;
      -webkit-text-stroke: 3px $rgba-dark-5;
    }

    &:hover {
      border: 5px solid $rgba-dark-2;
    }
  }

  .label__checkbox:checked + .label__text .label__check {
    animation: check 500ms cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;

    .icon {
      opacity: 1;
      transform: scale(0);
      color: $white;
      animation: icon 300ms cubic-bezier(1.000, 0.008, 0.565, 1.650) 100ms 1 forwards;
    }
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes icon {
    from {
      opacity: 0;
      transform: scale(0.3);
    }
    to {
      opacity: 1;
      transform: scale(1)
    }
  }

  @keyframes check {
    0% {
      width: 2.5em;
      height: 2.5em;
      border-width: 5px;
    }
    10% {
      width: 2.5em;
      height: 2.5em;
      opacity: 0.1;
      background: $rgba-dark-2;
      border-width: 15px;
    }
    12% {
      width: 2.5em;
      height: 2.5em;
      opacity: 0.4;
      background: $rgba-dark-1;
      border-width: 0;
    }
    50% {
      width: 5em;
      height: 5em;
      background: $check-marked;
      border: 0;
      opacity: 0.6;
    }
    100% {
      width: 5em;
      height: 5em;
      background: $check-marked;
      border: 0;
      opacity: 1;
    }
  }
}
