.map-pin-icon {
  display: block;
  width: 1em;
  height: 1em;
  position: relative;
  cursor: pointer;
  z-index: 200;
  .widget-icon {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .marker-icon {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 9;
    transform: translateX(-50%);
  }
  .icon {
    display: block;
    font-size: .5em;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 50%;
    color: $white;
    transform: translate(-50%, -50%);
  }
}
.map-markers {
  .map-markers-box {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-10%,-50%);
    .map-markers-item {
      border: 1px solid $rgba-light-2;
      width: 200px;
      list-style-type: none;
      color: $white;
      background-color: rgba($sidebar-background, 1);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-radius: $border-radius-25;
      svg {
        vertical-align: middle;
      }
    }
  }
}
