/* stylelint-disable */
@import '../coreui/style';
@import '../settings';
// Bootstrap Variable
// Overwrite settings color Colors

// TODO: Change name to Black theme
$dark-primary: #0a0a0a;
$dark-secondary: #111010;
$dark-body: #1a1919;
$page-title-color: #ababab;
$main-background: $dark-body;
$body-bg: $dark-body;
$sidebar-color: #bdbdbd;
$contrast-card-bg: #191919;
$card-empty-state: $dark-secondary;
$btn-success: #101010;

// Theme Colors
$dark-card: #0f0f0f;
$dark-setting: $dark-body;
$dark-setting-primary: #080808;
$dark-setting-footer: $dark-secondary;
$dark-color-light: #b7b7b7;
$form-primary-color: #101010;
$tooltip-background: $dark-color-light;
$tooltip-color: $dark-body;
$modal-content-background: #212121;// new prop

// Navbar Header
$navbar-header-border: $dark-secondary;
$navbar-header-background: $dark-secondary;
$navbar-header-brand-color: $gray-600;
$navbar-header-brand-background-image: url('#{$imageBaseUrl}logo.svg');
$navbar-header-brand-minimized-background-image: url('#{$imageBaseUrl}logo-shape.svg') !important;
$navbar-header-toggler-color: $dark-color-light;
$navbar-header-toggler-color-hover: $dark-color-light;
$navbar-header-toggler-color-active: $dark-color-light;
$navbar-header-nav-link-color: $gray-600;
$header-avatar-box-shadow: $box-shadow-fab;

// Sidebar
$sidebar-background: #191919;
$sidebar-header-background-color: $dark-primary;
$sidebar-avatar-background: $white;
$sidebar-avatar-border: $white;
$sidebar-nav-link-border: $sidebar-color;
$sidebar-nav-link-background: lighten($dark-card, 1);
$sidebar-nav-link-color: $white;
$sidebar-nav-link-active-color: $white;
$sidebar-nav-link-dropdown-open-color: $white;
$sidebar-nav-link-background-hover: lighten($dark-primary, 10);
$sidebar-nav-link-dropdown-open-background-minimized: lighten($dark-primary, 5);

// Dadshboard Global Styles
$dashboard-page-title-color: $page-title-color;
$dashboard-sidebar-bg: $dark-primary;
$dashboard-sidebar-color: $dark-color-light; 
$dashboard-sidebar-icon-color: $dark-color-light;
$dashboard-sidebar-item-background-hover: lighten($dark-primary, 7);
$dashboard-sidebar-item-background-color-active: lighten($dark-primary, 5);
$dashboard-sidebar-accordion-item-background: lighten($dark-primary, 5);
$dashboard-sidebar-accordion-item-color: $white;
$dashboard-sidebar-search-input-color: lighten($dark-color-light, 5);
$dashboard-widget-card-radius: 6px;
$dashboard-widget-card-bg: $dark-card;
$dashboard-widget-card-color: $dark-color-light;
$dashboard-widget-card-small-text-color: darken($dark-color-light, 10);
$dashboard-widget-card-shadow: 0 0 0 0 ;
$dashboard-widget-skelton-mode-background: $dark-card;
$dashboard-widget-draggable-background: $dark-card;
$dashboard-widget-draggable-color: $white;
$dashboard-widget-draggable-placeholder: $dark-color-light;
$dashboard-widget-toolbox-icon-color: $dark-color-light;
$dashboard-widget-toolbox-icon-background: lighten($dark-body, 5);
$dashboard-widget-toolbox-icon-background-hover: $dark-body;
$dashboard-widget-modal-content-background: $modal-content-background;//21293a new
$dashboard-widget-modal-header-background: $modal-content-background;
$dashboard-widget-modal-header-color: $dark-color-light;
$dashboard-widget-modal-header-border-color: lighten($modal-content-background, 15);
$dashboard-widget-modal-setting-header-nav-color: $white;
$dashboard-widget-modal-setting-header-border-color: rgba($white, .2);
$dashboard-widget-modal-footer-border-color: lighten($modal-content-background, 15);
$dashboard-widget-modal-body-background: $modal-content-background;
$dashboard-widget-modal-footer-background: $modal-content-background;
$dashboard-widget-modal-footer-btn-secandry-color: $gray-c;
$dashboard-widget-modal-setting-background: $dark-setting;
$dashboard-widget-modal-setting-title-color: $white;
$dashboard-widget-modal-setting-preview-title-color: $dark-color-light;
$dashboard-widget-modal-setting-preview-background: $dark-setting-primary;
$dashboard-widget-modal-setting-footer-background: $dark-secondary;
$dashboard-widget-modal-setting-footer-border: $dark-setting-footer;
$dashboard-widget-modal-setting-footer-btn-bg: rgba(255, 255, 255, 0.03);
$dashboard-widget-modal-setting-footer-btn-bg-hover: rgba(255, 255, 255, .08);
$dashboard-btn-light-background: $dark-primary;
$dashboard-btn-light-color: $white;
$dashboard-btn-light-border-color: $dark-primary;
$dashboard-widget-modal-indicator-background: $dark-setting-primary;
$dashboard-widget-floor-map-background: $dark-card;
$dashboard-widget-modal-setting-area: $contrast-card-bg;
$dashboard-widget-modal-lined: #121212;
$dashboard-widget-modal-header: $white;
$dashboard-widget-modal-collapse-input: $dark-body;
$dashboard-widget-modal-tab: #cdcdcd;
$dashboard-widget-modal-tab-active: $form-primary-color;

// Dadshboard Indicator Widget
$dashboard-widget-indicator-area: transparent;

// Dashboard Floor Widget
$dashboard-widget-floor-map-background: $dark-card;
$dashboard-widget-floor-map-controler-background: rgba($dark-primary, .6);
$dashboard-widget-floor-map-controler-color: $dark-color-light;
$dashboard-widget-floor-map-controler-background-active: lighten($dark-primary, 5);
$dashboard-widget-floor-map-controler-border: rgba(0,0,0,0.2);
$dashboard-widget-floor-map-controler-border-active: $dark-primary;
$dashboard-widget-floor-map-controler-shadow: none;
$dashboard-widget-floor-map-bar-border: $dark-primary;
$dashboard-widget-floor-map-controler-zoom-background: rgba($dark-primary, .6);
$dashboard-widget-floor-map-controler-zoom-color: $dark-color-light;
$dashboard-widget-floor-map-controler-zoom-background-disable: #191919;
$dashboard-widget-floor-map-controler-zoom-color-disable: lighten($dark-color-light, 15);
$dashboard-widget-floor-map-grid-background: rgba(0,0,0,0) url('#{$imageBaseUrl}map/grid.png');
$dashboard-widget-floor-map-grid-opacity: 0.8;
$dashboard-widget-floor-map-popup-color: $white;
$dashboard-widget-floor-map-popup-bg: rgba($dark-primary, .9);
$dashboard-widget-floor-geo-map-popup-bg: rgba($dark-primary, .9);
$overlayChartOpacity: .1;
$dashboard-widget-indicator-normal-bar-bg: rgba(250, 250, 250, 0.2) ;
$dashboard-widget-floor-map-pin-border: rgba(250,250,250,0.4);
$dashboard-widget-floor-map-pin-bg: rgba(0,0,0,0.7);

/// Dashboard Map Setting
$dashboard-map-device-table-header: #343434;
$dashboard-map-device-table-header-border: #494949;
$dashboard-map-device-table-color: $dark-color-light;
$dashboard-map-device-table-bg: lighten($dark-primary, 6);
$dashboard-map-device-table-item:  #2e2e2e;
$dashboard-map-device-table-item-border:  #494949;
$dashboard-map-device-table-item-selected:  #686868;
// Form
$form-input-color: $white;
$form-label-color: $white;
$form-input-background: $form-primary-color;
$form-input-background-focus: darken($form-primary-color, 3);
$form-input-disable-background: $dark-primary;
$form-input-border-color: #cdcdcd;
$form-input-focus-box-shadow: none;
$form-input-prepend-background: $form-primary-color;
$form-input-prepend-border-color: $form-primary-color;
$form-input-prepend-color: $white;

// Multi-Select Component
$form-multiselect-background: $form-primary-color;
$form-multiselect-color: $white;
$form-multiselect-border-color: $form-primary-color;
$form-multiselect-content-wrapper-border-color: $form-primary-color;
$form-multiselect-content-wrapper-background: darken($form-primary-color, 3);
$form-multiselect-content-wrapper-color: $dark-color-light;
$form-multiselect-placeholder: $gray-7;

// Filtering Component
$filtering-btn-outline-success-border-color: $dark-setting;

// Buttons Icons
$btn-fab-no-bg-color: $white;
$btn-fab-no-bg-background-hover: darken($dark-card, 2);
$btn-fab-no-bg-background-active: darken($dark-card, 4);

// Artwork No-result
$artwork-no-result-color: rgba(125, 125, 125, 0.4);

// Card
$card-background: $dark-body;
$card-hover-background: darken($dark-primary, 10);
$card-color: $white;
$card-header-background: #313131;
$card-header-color: $gray-e;
$card-header-icon-color: $white;
$card-header-small-color: $white;
$card-body-color: $gray-c;
$card-description-color: $gray-c;
$card-small-color: $gray-c;
$card-widget-icon-color: $gray-c;
$card-footer-btn-color: $gray-f4;
$card-footer-btn-background-hover: lighten($dark-body, 6);
$card-footer-btn-color-hover: $dark-color-light;

// Footer
$footer-background: transparent;
$footer-link: $dark-color-light;
$footer-color: $dark-color-light;
$footer-border: lighten($dark-body, 3);
/* stylelint-enable */

@import "../resources.scss";
