.dashboard-widget--chart{
  svg * {
    transition: none !important;
    font-family: 'Open Sans', sans-serif !important;
  }
  .widgets-preview-container {
    .highcharts-container {
      max-width: 100%;
      border-radius: 6px;
    }
  }
  .dashboard-widget--skeleton-icon {
    text-align: center;
    .widget-icon {
      font-size: 2em;
    }
  }
}
