.dashboard-widget--grid {
  .dashboard-widget--skeleton-icon {
    text-align: center;
    .widget-icon {
      font-size: 2em;
    }
  }
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
  }
  .card-grid-table-body--skeleton,
  .card-grid-table-header--skeleton {
    width: 100%;
    display: inline-block;
  }

  .card-grid-table-header--skeleton {
    height: 1.2em;
    background-color: $white;
  }
  .card-grid-table-body--skeleton {
    height: 5.2em;
    background-color: $gray-f5;
  }
  .dashboard-widget--grid-skeleton-mode {
    thead {
      tr {
        th {
          border-bottom: 2px solid $gray-f1;
          padding-bottom: .5em;
        }
      }
    }
  }

  .overflow-y-auto {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
